In [1]:
!pip freeze

argon2-cffi @ file:///D:/bld/argon2-cffi_1605217273648/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.3
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
bs4==0.0.1
census==0.8.16
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1606601395031/work
chardet==3.0.4
citipy==0.0.5
click==7.1.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
configparser==5.0.1
crayons==0.4.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
Flask==1.1.2
geojson==2.5.0
gmaps==0.9.0
html5lib==1.1
idna==2.10
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1606885585839/work
ipykernel @ file:///D:/bld/ipykernel_1607737448354/work/dist/ipykernel-5.4.2-py3-none-any.whl
ipython @ file:///D:/bld/ipython_1604159844946/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
itsdangerous==1.1.0
jedi @ file:///D:/bld/jedi_1605054817163/work
jellyfish==0.6.1
Jinja2==2.11.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-core @ file:///D:/bld/jupyter_core_1605735280365/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
kdtree==0.16
kiwisolver==1.3.1
lxml==4.6.2
MarkupSafe @ file:///D:/bld/markupsafe_1602267501600/work
matplotlib==3.3.3
mistune @ file:///D:/bld/mistune_1605115857778/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///D:/bld/nbconvert_1605402041690/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
notebook @ file:///D:/bld/notebook_1605103957289/work
numpy==1.19.4
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1607785313469/work
pandas==1.1.4
pandocfilters==1.4.2
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==8.0.1
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1605053337398/work
psycopg2==2.8.6
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1607352093725/work
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent @ file:///D:/bld/pyrsistent_1605115827510/work
python-dateutil==2.8.1
pytz==2020.4
pywin32==228
pywinpty @ file:///D:/bld/pywinpty_1602377663724/work
pyzmq==20.0.0
requests==2.25.0
scipy==1.5.4
selenium==3.141.0
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve==2.1
splinter==0.14.0
SQLAlchemy==1.3.23
terminado @ file:///D:/bld/terminado_1605117138129/work
testpath==0.4.4
tornado @ file:///D:/bld/tornado_1604105353952/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1602771532708/work
urllib3==1.26.2
us==2.0.2
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webdriver-manager==3.3.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1605475695976/work
wincertstore==0.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Importing csv

storm_csv = pd.read_csv('data/Storms_2020.csv')
storm_csv.head()

/Users/geoffreymatis/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (16,17,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,event_id,state,event_type,cz_name,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,...,tor_length,tor_width,tor_other_wfo,location_index,event_range,event_azimuth,reference_location,event_latitude,event_longitude,event_point
0,865452,Oklahoma,hail,TULSA,1/10/2020 11:35,CST-6,1/10/2020 11:35,0,0,0,...,NaN,0,NaN,1.0,0.24,ENE,TULSA,36.1514,-95.9460,POINT(-95.946 36.1514)
1,865453,Oklahoma,hail,TULSA,1/10/2020 11:36,CST-6,1/10/2020 11:36,0,0,0,...,NaN,0,NaN,1.0,2.95,NNE,TULSA R L JONES ARPT,36.0690,-95.9585,POINT(-95.9585 36.069)
2,865454,Oklahoma,hail,TULSA,1/10/2020 11:38,CST-6,1/10/2020 11:38,0,0,0,...,NaN,0,NaN,1.0,2.00,N,TULSA,36.1790,-95.9500,POINT(-95.95 36.179)
3,865455,Oklahoma,hail,CHEROKEE,1/10/2020 15:02,CST-6,1/10/2020 15:02,0,0,0,...,NaN,0,NaN,1.0,0.65,S,TAHLEQUAH,35.9106,-94.9710,POINT(-94.971 35.9106)
4,865712,Texas,hail,HAYS,1/10/2020 19:40,CST-6,1/10/2020 19:40,0,0,0,...,NaN,0,NaN,1.0,5.01,ENE,HENLY,30.2400,-98.1500,POINT(-98.15 30.24)

In [3]:
storm_csv.columns

Index(['event_id', 'state', 'event_type', 'cz_name', 'event_begin_time',
       'event_timezone', 'event_end_time', 'injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops', 'source', 'magnitude',
       'magnitude_type', 'flood_cause', 'tor_f_scale', 'tor_length',
       'tor_width', 'tor_other_wfo', 'location_index', 'event_range',
       'event_azimuth', 'reference_location', 'event_latitude',
       'event_longitude', 'event_point'],
      dtype='object')

In [4]:
# selecting the columns we want

new_stormcsv = storm_csv[['event_id', 'state', 'event_type','event_begin_time',
       'event_timezone', 'event_end_time','injuries_direct',
       'injuries_indirect', 'deaths_direct', 'deaths_indirect',
       'damage_property', 'damage_crops','magnitude','event_latitude',
       'event_longitude']]
new_stormcsv.head()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,1/10/2020 11:35,CST-6,1/10/2020 11:35,0,0,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,1/10/2020 11:36,CST-6,1/10/2020 11:36,0,0,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,1/10/2020 11:38,CST-6,1/10/2020 11:38,0,0,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,1/10/2020 15:02,CST-6,1/10/2020 15:02,0,0,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,1/10/2020 19:40,CST-6,1/10/2020 19:40,0,0,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [5]:
#identifying types for each column
new_stormcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40037 entries, 0 to 40036
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           40037 non-null  int64
 1   state              40037 non-null  object
 2   event_type         40037 non-null  object
 3   event_begin_time   40037 non-null  object
 4   event_timezone     40037 non-null  object
 5   event_end_time     40037 non-null  object
 6   injuries_direct    40037 non-null  int64
 7   injuries_indirect  40037 non-null  int64
 8   deaths_direct      40037 non-null  int64
 9   deaths_indirect    40037 non-null  int64
 10  damage_property    31453 non-null  float64
 11  damage_crops       32222 non-null  float64
 12  magnitude          25659 non-null  float64
 13  event_latitude     25669 non-null  float64
 14  event_longitude    25669 non-null  float64
dtypes: float64(5), int64(5), object(5)
memory usage: 4.6+ MB

In [6]:
# cleaning date columns

new_stormcsv['event_begin_time'] = pd.to_datetime(new_stormcsv['event_begin_time'])
new_stormcsv['event_end_time'] = pd.to_datetime(new_stormcsv['event_end_time'])

<ipython-input-6-5d2f0f95d151>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['event_begin_time'] = pd.to_datetime(new_stormcsv['event_begin_time'])
<ipython-input-6-5d2f0f95d151>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['event_end_time'] = pd.to_datetime(new_stormcsv['event_end_time'])

In [7]:
new_stormcsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40037 entries, 0 to 40036
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   event_id           40037 non-null  int64
 1   state              40037 non-null  object
 2   event_type         40037 non-null  object
 3   event_begin_time   40037 non-null  datetime64[ns]
 4   event_timezone     40037 non-null  object
 5   event_end_time     40037 non-null  datetime64[ns]
 6   injuries_direct    40037 non-null  int64
 7   injuries_indirect  40037 non-null  int64
 8   deaths_direct      40037 non-null  int64
 9   deaths_indirect    40037 non-null  int64
 10  damage_property    31453 non-null  float64
 11  damage_crops       32222 non-null  float64
 12  magnitude          25659 non-null  float64
 13  event_latitude     25669 non-null  float64
 14  event_longitude    25669 non-null  float64
dtypes: datetime64[ns](2), float64(5), int64(5), object(3)
memory usage: 4.6+ MB

In [8]:
# Combining injury and death columns to be one

new_stormcsv['Injuries'] = new_stormcsv['injuries_direct'] + new_stormcsv['injuries_indirect']
new_stormcsv['Deaths'] = new_stormcsv['deaths_direct'] + new_stormcsv['deaths_indirect']
new_stormcsv.head()

<ipython-input-8-efc3a3b93e84>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['Injuries'] = new_stormcsv['injuries_direct'] + new_stormcsv['injuries_indirect']
<ipython-input-8-efc3a3b93e84>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_stormcsv['Deaths'] = new_stormcsv['deaths_direct'] + new_stormcsv['deaths_indirect']

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,damage_crops,magnitude,event_latitude,event_longitude,Injuries,Deaths
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0,0,0.0,0.0,1.00,36.1514,-95.9460,0,0
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0,0,0.0,0.0,1.00,36.0690,-95.9585,0,0
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0,0,0.0,0.0,0.75,36.1790,-95.9500,0,0
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,0,0,15000.0,0.0,1.75,35.9106,-94.9710,0,0
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0,0,0.0,0.0,0.75,30.2400,-98.1500,0,0

In [9]:
new_stormcsv.columns

Index(['event_id', 'state', 'event_type', 'event_begin_time', 'event_timezone',
       'event_end_time', 'injuries_direct', 'injuries_indirect',
       'deaths_direct', 'deaths_indirect', 'damage_property', 'damage_crops',
       'magnitude', 'event_latitude', 'event_longitude', 'Injuries', 'Deaths'],
      dtype='object')

In [10]:
clean_storm = new_stormcsv[['event_id', 'state', 'event_type', 'event_begin_time', 'event_timezone',
       'event_end_time', 'Injuries', 'Deaths', 'damage_property', 'damage_crops',
       'magnitude', 'event_latitude', 'event_longitude']]
clean_storm.head()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,Injuries,Deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [11]:
# column renamings

clean_storm = clean_storm.rename(columns={'Injuries':'total_injuries', 'Deaths':'total_deaths'})
clean_storm.head()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [12]:
clean_storm.dropna()
clean_storm.head()

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500

In [13]:
# linking to StormsDB on SQL
conn = "postgres:postgres@localhost:5432/storms_db"
engine = create_engine(f'postgresql://{conn}')

In [14]:
engine.table_names()

['storms']

In [15]:
clean_storm.to_sql(name='storms', con = engine, if_exists = 'replace', index = False)

In [16]:
#Run a query
pd.read_sql_query('select * from storms limit 10', con = engine)

,event_id,state,event_type,event_begin_time,event_timezone,event_end_time,total_injuries,total_deaths,damage_property,damage_crops,magnitude,event_latitude,event_longitude
0,865452,Oklahoma,hail,2020-01-10 11:35:00,CST-6,2020-01-10 11:35:00,0,0,0.0,0.0,1.00,36.1514,-95.9460
1,865453,Oklahoma,hail,2020-01-10 11:36:00,CST-6,2020-01-10 11:36:00,0,0,0.0,0.0,1.00,36.0690,-95.9585
2,865454,Oklahoma,hail,2020-01-10 11:38:00,CST-6,2020-01-10 11:38:00,0,0,0.0,0.0,0.75,36.1790,-95.9500
3,865455,Oklahoma,hail,2020-01-10 15:02:00,CST-6,2020-01-10 15:02:00,0,0,15000.0,0.0,1.75,35.9106,-94.9710
4,865712,Texas,hail,2020-01-10 19:40:00,CST-6,2020-01-10 19:40:00,0,0,0.0,0.0,0.75,30.2400,-98.1500
5,865735,Texas,hail,2020-01-10 19:54:00,CST-6,2020-01-10 19:54:00,0,0,0.0,0.0,1.00,29.6500,-98.4300
6,865695,Texas,hail,2020-01-10 19:06:00,CST-6,2020-01-10 19:06:00,0,0,0.0,0.0,0.88,29.5900,-98.9500
7,865693,Texas,hail,2020-01-10 17:15:00,CST-6,2020-01-10 17:15:00,0,0,0.0,0.0,1.00,30.7508,-98.4546
8,865694,Texas,hail,2020-01-10 17:45:00,CST-6,2020-01-10 17:45:00,0,0,0.0,0.0,0.75,29.6900,-99.1700
9,865698,Texas,hail,2020-01-10 19:23:00,CST-6,2020-01-10 19:23:00,0,0,0.0,0.0,1.00,30.1000,-98.4200

In [17]:
# clean_storm.to_json(r'clean_storm.json',orient='table')